<div class="row wrapper border-bottom white-bg page-heading">
    
 
   <div class="row">

      <div class="col-lg-3">
            <br>
            {{ globals }}
            <div *ngFor="let question of globals.questions">
                        {{ question.question_id }}
            </div>
            <form [formGroup]="chartFiltersForm">
               <div class="form-group">

                  <div class="filterBlock">
                     <label for="graphType">Graph Type</label>
                     <select  class="form-control" 
                              formControlName="graphType"
                              id="graphType"
                              (change)="updateChartType($event.target.value)"
                              required>
                     <option *ngFor="let t of chartTypes; let idx = index" 
                              [value]="t"
                              [selected]="idx === 0">
                              {{t}}
                           </option>
                     </select>
                  </div>

                  <div class="filterBlock">
                     <fieldset id="filterTopLevel">
                     <label for="graphFilterTopLevel">Top Level Filter</label>
                     <table id="graphFilterTopLevel" class="radioBtnFilterTable">
                        <tbody>
                        <tr *ngFor="let filter of chartDataFilters; let idx = index">
                           <td width="30px">
                              <input type="radio" 
                                     name="filterTopLevel"
                                     (click)="updateTopFilter(filter)"
                                     [checked]="idx === 0">
                           </td>
                           <td>{{ filter }}</td>
                        </tr>
                        </tbody>
                     </table>
                     </fieldset>
                  </div>

                  <div class="filterBlock">
                     <fieldset id="filterSubLevel">
                     <label for="graphFilterSubLevel">Sub Level Filter (WIP out of scop</label>
                     <table id="graphFilterSubLevel">
                        <tbody>
                        <tr *ngFor="let filter of chartDataFilters">
                           <td width="30px">
                              <input   type="radio" 
                                       name="filtelSubLevel"
                                       id="{{filter}}SubLevelID"
                                       [disabled]=true
                                       (click)="updateSubFilter(filter)">
                           </td>
                           <td>{{ filter }}</td>
                        </tr>
                        </tbody>
                     </table>
                     </fieldset>
                  </div>

                  <div class="filterBlock">
                        <button  type="button" 
                                 class="btn btn-primary btn-block btn-sm"
                                 (click)="downloadCanvas(this)">
                                 Export Graph
                        </button>
                  </div>

               </div>
            </form>
      </div>

      <div class="col-lg-9">
            <canvas id="graphCanvas" width="600" height="600"></canvas>
      </div>

   </div>

    
</div>