<div class="row wrapper border-bottom white-bg page-heading">

  <div class="row" style="margin-top:30px">

    <div class="col-lg-2">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Survey</label>
        <select class="form-control" id="exampleFormControlSelect1" (change)="updateSurvey($event.target.value)">
          <option *ngFor="let survey of globals.surveys" value="{{survey.survey_id}}">
            {{ survey.survey_name }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-lg-2">
      <button type="button" class="btn btn-primary btn-block btn-sm btnExport"><i class="fas fa-database"></i> Add to
        Database</button>
    </div>

  </div>


</div>