<div class="wrapper wrapper-content">

      <div class="row">
          <div class="col-lg-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <span class="label label-primary pull-right">Year</span>
                      <h5>Survey Submissions</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins">6,394</h1>
                      <div class="stat-percent font-bold text-primary">98% <i class="fa fa-level-up"></i></div>
                      <small>Total Submissions</small>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <span class="label label-primary pull-right">Year</span>
                      <h5>EITC Returns</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins">1,023</h1>
                      <div class="stat-percent font-bold text-primary">10% <i class="fa fa-level-up"></i></div>
                      <small>Total Returns</small>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <span class="label label-primary pull-right">Year</span>
                      <h5>EITC  Credits</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins">$1,903,294</h1>
                      <div class="stat-percent font-bold text-primary">14% <i class="fa fa-level-up"></i></div>
                      <small>Total Credits</small>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <span class="label label-primary pull-right">Year</span>
                      <h5>Returns</h5>
                   </div>
                  <div class="ibox-content">
                      <h1 class="no-margins">$6,893,293</h1>
                      <div class="stat-percent font-bold text-primary">19% <i class="fa fa-level-up"></i></div>
                      <small>Total Returns</small>
                  </div>
              </div>
          </div>
      </div>
  
      <div class="row">
          <div class="col-lg-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>Graph Data</h5>
                  </div>
                  <div class="ibox-content">
                      <div class="list-group">
                          <button type="button" class="list-group-item">Age of Filer</button>
                          <button type="button" class="list-group-item">No. in Household</button>
                          <button type="button" class="list-group-item">Education</button>
                          <button type="button" class="list-group-item">Race</button>
                          <button type="button" class="list-group-item">Employment Status</button>
                          <button type="button" class="list-group-item">Family Income</button>
                          <button type="button" class="list-group-item">Housing</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>