<div id="wrapper">
  <navigation></navigation>
  <div id="page-wrapper" class="gray-bg">
    <topnavbar></topnavbar>
    <div  *ngIf="showHomeDiv" class="col-lg-3 margin-top-20">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Survey Details</h5>
          <div (click)="updateChart()" id="divRefresh">
               <i class="fas fa-sync-alt pull-right"></i>
          </div>
        </div>
        <div class="ibox-content">
          <div *ngIf="showInfo" class="feed-activity-list">
            <div *ngFor="let info of surveyDetails">
               <div class="feed-element margin-top-5">
                <button type="submit" *ngIf="info.survey_is_active"  value="{{info.survey_id}}" (click)="openModal($event.target.value)" class="label label-primary pull-right">Active</button>
                <button type="submit" *ngIf="! info.survey_is_active" value="{{info.survey_id}}" (click)="openModal($event.target.value)" class="label label-warning pull-right">Inactive</button>
                <strong>{{info.survey_name}}</strong>
                <div class="margin-top-5">
                  <div> Date Created: <small class="text-muted pull-right">{{info.date_created}}</small></div>
                  <div> Submissions: <small class="text-muted pull-right">{{info.response_count}}</small></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 margin-top-20">
      <div class="ibox-content">
        <canvas id="graphCanvas" width="1000" height="670"></canvas>
      </div >
    </div>
    <div id="success" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <p class="checker">Are you sure you want to change the activity status of this survey?</p>
          <div class="row">
            <div class="col-lg-5">
              <span (click)="updateActiveSurvey()" class="close">Yes</span>
            </div>
            <div class="col-lg-2">
              <span (click)="closeModal()" class="close">No</span>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
