
<div class="container">
<div class="row">
<div class="col-md-10">
<div class="well well-sm">


  <div *ngFor="let survey of globals.surveys | filterBySurveyID: currSurvey; let j = index">
    <div *ngFor="let question of survey.questions | ActiveQuestions | paginate: {itemsPerPage:1, currentPage: p}" style="align:center">
      <form action="surveyEnd.component.html">
        <fieldset>
        <div class=row>
         <!-- <div class="col-lg-6">

          </div>-->
          <legend class="text-center header">Dutchess CAP Survey</legend>
          <div class="col-lg-6" style="text-align: center; margin-left: 220px;">
            <!--<div *ngFor="let survey of globals.surveys | filterBySurveyID: currSurvey">-->
            
            <h3>  {{ question.question_id + 1 }}. {{ question.question_text}} </h3>

            <div [ngSwitch]="question.question_type" style="height:100px">

              <div *ngSwitchCase="'dropdown'">
                <select class="form-control" id="select" [(ngModel)]="selectedOptionId" name="selectedOption" (change)="setSelectedOption($event.target.value)">
                  <option disabled selected>-Please Select an Option-</option>
                  <option *ngFor="let option of question.options | ActiveOptions" value="{{option.option_id}}" >
                    {{ option.option_text }}
                  </option>
                </select>
              </div>

              <div *ngSwitchCase="'checkboxes'">
                <div *ngFor="let option of question.options | ActiveOptions" id="divCheckboxOptionText">
                  <input class="form-check-input" type="checkbox">
                  {{ option.option_text }}
                </div>
              </div>

              <div *ngSwitchCase="'text'">
                <div class="form-check-label">
                  <textarea class="form-control" name="test" rows="2" [(ngModel)]="textAreaValue"></textarea>
                </div>
              </div>

              <div *ngSwitchCase="'mc'">
                <div *ngFor="let option of question.options | ActiveOptions" id="radioBoxOptionText">
                  <input type="radio" class="form-check-input" name="question.question_id">
                  {{ option.option_text }}
                </div>
              </div>
              
            </div>

          </div>

        </div>
        <div class="pages">
        <pagination-controls  (pageChange)="p =$event" (pageChange)="updateResponses($event,textAreaValue ,p)" style="margin-left:550px"></pagination-controls>
        </div>
      </fieldset>
      </form>
    </div>
    
  </div>


</div>
</div>
</div>
</div>
<!--
<form>
  <div class="form-group" *ngFor="let question of globals.surveys.questions[i].question_id; let i=index">
    <label for="question_label">{{ question.question_text }} </label>
  <div [ngSwitch]="question.question_type">

      <div *ngSwitchCase="'select'">
        <select class="form-control" id="select">
          <option *ngFor="let option of globals.options | filterByQuestionID: question.question_id" (click)="changeData($event, option.option_text)">
            {{ option.option_text }}
          </option>
        </select>
      </div>

      <div *ngSwitchCase="'checkbox'">
        <div *ngFor="let option of globals.options | filterByQuestionID: question.question_id" id="divCheckboxOptionText">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="option.option_text" (change)="changeData($event, option.option_text)">
              {{ option.option_text }}
          </label>
        </div>
      </div>

      <div *ngSwitchCase="'text'">
        <label class="form-check-label"></label>
        <textarea class="form-control" name="this" rows="3"></textarea>
      </div>

      <div *ngSwitchCase="'radio'">
          <div  *ngFor="let option of globals.options | filterByQuestionID: question.question_id">
            <label class="check-label">
              <input type="radio" class="form-check-input" name="radio{{option.question_id}}" id="optionRadios{{option.option_num}}" value="option{{option.option_num}}" (change) = "changeData($event, option.option_text)">
              {{ option.option_text }}
            </label>
          </div>
      </div>

      <label class="form-control" id="unknownType" *ngSwitchDefault>Unknown Type</label>

    </div>
  </div>
  <button class="btn btn-upload" (click)="uploadData()">Submit</button>
</form>
-->
