.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.pages{
    margin-left:290px;
}

.pageNumbers {
    list-style-type: none;
    display:inline;
}

.pageNumberActive {
    color: black;
    list-style-type: none;
    display:inline;
}