.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.header2 {
    font-size: 20px;
}
.pages{
    margin-left:290px;
}

.pageNumbers {
    list-style-type: none;
    display:inline;
}
.custom-pagination{
    display:inline-block;
}

.pagination{
    display: inline;
}
.pageNumberActive {
    color: black;
    list-style-type: none;
    display:inline;
}

.inline {
    display:inline-block;
    margin-right:5px;
}
.container-fluid{
    width:100%;
    
}
.container{
    height: 100%;
    margin: 0 auto;
}
#bucket{ 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: none;
    padding-top: 1%;
}
#dropdownStyle{
    float: none;
    margin: auto 0;
}
