<!-- Survey Landing/Home page -->
<div class="container2" *ngIf="!isLanding" style="margin: 0 auto">
    <div class="row">
        <div class="col-md-7" id="bucket" >
            <div class="well well-sm">
                <legend class="text-center header">Welcome to Dutchess CAP</legend>
                <p class="text-center header3">Please select the survey you would like to take:</p>
               
                <form class="form-horizontal" method="post" #start="ngForm" validate>

                    <select class="form-control" id="select" (change)="surveySelect($event, $event.target.value)">
                        <option disabled selected>-Please Select an Option-</option>
                        <option name ="surveyValue" *ngFor="let surveyActive of surveys" value="{{surveyActive.survey_id}}" ngModel>{{surveyActive.survey_name}}</option>
                    </select>
                    
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" id="btn" class="btn btn-primary btn-lg" (click)="onStart()">Start</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Actual survey with questions -->
<div class="container" *ngIf="isLanding">
    <button
    *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</button>
    <div class="row">
      <div class="col-md-9" id="bucket">
        <div class="well well-sm">
          <div *ngFor="let survey of surveys | filterBySurveyID: selectedSurveyId; let j = index">
            <div *ngFor="let question of survey.questions | paginate: config">
              <form class="form-horiziontal">
                <fieldset>
  
                  <legend class="text-center header">{{ survey.survey_name }}</legend>
  
                  <!--<div *ngFor="let survey of surveys | filterBySurveyID: selectedSurveyId">-->
                  <div class="text-center header2">
                    <h3> {{ question.question_id + 1 }}. {{ question.question_text}} </h3>
                  </div>
                  <div [ngSwitch]="question.question_type" style="height:150px">
  
                    <div class="form-group" id="dropdownStyle">
                      <div class="col-md-6">
                        <div *ngSwitchCase="'dropdown'">
                          <select class="form-control" id="select" [(ngModel)]="selectedOptionId" name="selectedOption"
                            (change)="optionSelect($event, $event.target.value, 'dd')">
                            <option disabled selected>-Please Select an Option-</option>
                            <option *ngFor="let option of question.options" value="{{option.option_id}}">
                              {{ option.option_text }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-check">
                      <div class="col-md-6">
                        <div *ngSwitchCase="'checkboxes'">
                          <div *ngFor="let option of question.options" class="form-check-label" id="divCheckboxOptionText"
                            (change)="optionSelect($event, $event.target.value, 'cb')">
                            <input class="form-check-input" type="checkbox" value="{{option.option_id}}">
                            {{ option.option_text }}
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <div class="col-md-6">
                        <div *ngSwitchCase="'text'">
                          <div class="form-check-label">
                            <textarea class="form-control" name="text" rows="2" [(ngModel)]="textAreaValue"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <div class="col-md-6">
                        <div *ngSwitchCase="'mc'">
                          <div *ngFor="let option of question.options" id="radioBoxOptionText" (change)="optionSelect($event, $event.target.value, 'mc')">
                            <input type="radio" class="form-check-input" name="question.question_id" value="{{option.option_id}}">
                            {{ option.option_text }}
                          </div>
                        </div>
                      </div>
                    </div>
  
                  </div>
                  <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                    <div class="custom-pagination">
                      <ul>
                        <span class="pagination-previous" [class.disabled]="p.isFirstPage()">
                          <button class="btn btn-primary btn-sm" *ngIf="!p.isFirstPage()" (click)="removeResponse(getQuestionIndex(question.question_id, p.getCurrent())); p.previous();">
                            Previous </button>
                          </span>
  
                        <span *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                          <li class="pageNumbers" *ngIf="p.getCurrent() !== page.value">
                            <a style="font-size: 15px; color: grey">{{ page.label }}</a>
                          </li>
                          <li class="pageNumberActive" *ngIf="p.getCurrent() === page.value">
                            <a style="font-size: 15px; color: grey">{{ page.label }}</a>
                          </li>
                        </span>
  
                        <span class="pagination-next" [class.disabled]="p.isLastPage()">
                          <button class="btn btn-primary btn-sm" *ngIf="!p.isLastPage()" (click)="updateResponses(textAreaValue, getQuestionIndex(question.question_id)); p.next()">
                            Next </button>
                          <button class="btn btn-primary btn-sm" *ngIf="p.isLastPage()" (click)="updateResponses(textAreaValue, getQuestionIndex(question.question_id)); postOnSubmit();">
                            Submit </button>
                          </span>
                      </ul>
                    </div>
                  </pagination-template>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>