<!-- Survey Landing/Home page -->

<body>

  <div class="row white-bg h-100" *ngIf="!showSurveyDiv">
    <div class="col-lg-9 align-items-center h-100">
      <img id="dcapLogo" src="../../../assets/img/dutchess-cap-heart.png" id="imgHeart">
      <h1>Dutchess County Community Action Survey Portal</h1>
    </div>
    <div class="col-lg-3 align-items-center h-100">
      <button class="btn btn-default pull-right" id="btnLogin" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
        <i class="fas fa-sign-in-alt"></i>
        Admin Login
      </button>
    </div>
  </div>

  <div class="row" id="landingRow">

    <div class="col-lg-3">
    </div>

    <div class="col-lg-6" *ngIf="!showSurveyDiv">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <img class="center" id="imgLogo" src="../../../assets/img/dutchess-cap-color.png">
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <p class="text-center black">Please select a survey to take:</p>
              <select class="form-control" id="select" (change)="surveySelect($event.target.value)">
                <option disabled selected>-Please Select a Survey-</option>
                <option *ngFor="let surveyActive of surveys" value="{{surveyActive.survey_id}}">{{surveyActive.survey_name}}</option>
              </select>
            </div>
            <div class="col-lg-3"></div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-lg-12 text-center ">
                <button type="button" id="btnStart" class="btn btn-success btn-lg btn-block" (click)="onStart()">
                  Start Survey!
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6" *ngIf="showSurveyDiv">

      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form>
            <div *ngFor="let survey of surveys | filterBySurveyID: selectedSurveyId">
              <div *ngFor="let question of survey.questions; let k = index">
                <div class="row">
                  <div [hidden]="hideQuestion(k)" id="topSpacing">
                    <div class="row">
                      <div class="col-lg-12 questionHeader row-centered">
                        <h2 id="questionText">{{ question.question_text }}</h2>
                      </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                      <div [ngSwitch]="question.question_type" id="bottomSpacing">
                        <div *ngSwitchCase="'select'">
                          <select [(ngModel)]="question.response" [ngModelOptions]="{standalone: true}" (change)='valueChanges(survey.survey_id,question.question_id,question.options, question.response )'
                            class="form-control">
                            <option disabled selected>-Please Select a Response-</option>
                            <option *ngFor="let option of question.options" [value]="option.option_id">
                              {{ option.option_text }}
                            </option>
                          </select>
                        </div>
                        <div *ngSwitchCase="'checkbox'">
                          <div id="indentAlign" *ngFor="let option of question.options; let j = index">
                            <label id="checkLabel" class="form-check-label">
                              <input class="form-check-input" (change)="updateCheckbox(question, option.option_text, $event.target.checked, option.option_id, survey.survey_id)"
                                type="checkbox" [value]="option.option_text">
                              <span id="indent" class="spanOption">{{ option.option_text }}</span>

                            </label>
                          </div>
                        </div>
                        <div *ngSwitchCase="'text'">
                          <div *ngFor="let option of question.options">
                            <label class="form-check-label"></label>
                            <textarea class="form-control" (change)='valueChanges(survey.survey_id, question.question_id, option.option_id, question.response)'
                              [(ngModel)]='question.response' [ngModelOptions]='{standalone: true}' rows="3"></textarea>
                          </div>
                        </div>
                        <div *ngSwitchCase="'radio'">
                          <div id="indentAlign" *ngFor="let option of question.options">
                            <label class="check-label">
                              <!--  [(ngModel)]="surveys.responses[k]"-->
                              <input type="radio" (change)='valueChanges(survey.survey_id, question.question_id,option.option_id, option.option_text)'
                                [(ngModel)]="question.response" [ngModelOptions]="{standalone: true}" class="form-check-input"
                                [name]="'radio'+question.question_id" [value]="option.option_text">
                              <span class="spanOption">{{ option.option_text }}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                  </div>
                </div>

                <div class="row" [hidden]="hideQuestion(k)">
                  <div class="col-lg-4">
                    <button [disabled]="isFirstPage()" type="button" class="btn btn-primary pull-left" (click)='onPrevious()'>
                      <i class="fas fa-arrow-circle-left"></i>
                      Previous Question
                    </button>
                  </div>
                  <div class="col-lg-4 row-centered">
                    <div class="row">
                      <b>Question {{k + 1}} of {{survey.questions.length }}</b>
                    </div>
                    <div class="row">
                      {{survey.survey_name}}
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <button type="button" *ngIf="!isLastPage()" class="btn btn-primary pull-right" (click)='onNext()'>
                      Next Question
                      <i class="fas fa-arrow-circle-right"></i>
                    </button>
                    <button type="button" [disabled]='disabledSave' *ngIf="isLastPage()" class="btn btn-warning pull-right"
                      (click)='save();'>
                      Submit Response!
                      <i class="fas fa-database"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

    <div class="col-lg-3">
    </div>

  </div>
</body>