<div class="row wrapper border-bottom white-bg page-heading">
  <div class="row">
    <button class='pull-right btn btn-lg' (click)='editQuestion()' style='background-color:transparent;'>
      <div>
        <i id="btnQuestionAdd" class="fa fa-cog"></i>
      </div>
    </button>

    <div class="col-lg-3">
      <br>
      <form [formGroup]="chartForm">
        <div class="form-group">

          <div class="filterBlock">
            <label for="deepGraphSwitch">Deep Graph Switch</label>
            <div class="btn-group" id="deepGraphSwitch" role="group" aria-label="Basic example" (click)="updateMultipleDataSetForm($event.target.value)">
              <button type="button" value="single" class="btn btn-info">Single </button>
              <button type="button" value="multiple" class="btn btn-success">Matrix</button>
            </div>
          </div>

          <div class="filterBlock">
            <label for="graphType">Chart Type</label>
            <select class="form-control" formControlName="chartType" (change)="updateChart()" required>
              <option *ngFor="let graph of graphService.getGraphTypes()" [value]="graph.val">
                {{graph.view}}
              </option>
            </select>
          </div>

          <div class="filterBlock">
            <label for="graphType">Select Survey</label>
            <select class="form-control" formControlName="surveyId" required >
              <option *ngFor="let survey of globals.surveys" [value]="survey.survey_id">
                {{survey.survey_name}}
              </option>
            </select>
          </div>

          <div class="filterBlock">
            <label for="graphType">Select Question</label>
            <select class="form-control" formControlName="questionId" (change)="updateChart()" required>
              <option *ngFor="let question of globals.surveys[chartForm.controls.surveyId.value].questions | GraphableQuestion"
                [value]="question.question_id">
                {{question.question_text}}
              </option>
            </select>
          </div>

          <div id="multipleDataSets" *ngIf="currentDatasetType != 'single'">

            <div class="filterBlock">
              <label for="graphType">Select Sub Question</label>
              <select class="form-control" formControlName="subQuestionId" required (change)="updateChart()">
                <option *ngFor="let question of globals.surveys[chartForm.controls.surveyId.value].questions | ExceptQuestionId: chartForm.controls.questionId.value | GraphableQuestion"
                  [value]="question.question_id">
                  {{question.question_text}}
                </option>
              </select>
            </div>
            <div class="filterBlock">
               <form [formGroup]="optionsForm" (change)="updateChart()">
                  <label formArrayName="options" *ngFor="let option of getSubQuestionOptions(); let i = index">
                     <div class="col-lg-12">
                        <input type="checkbox" [formControlName]="i">
                        {{option.option_text}} 
                     </div>
                  </label>
               </form>
            </div>

          </div>

          <div class="filterBlock">
            <button type="button" class="btn btn-primary btn-block btn-sm">
              <a href="graphs" (click)="download($event)" style="color:white">
                <i class="fas fa-download"></i>
                Export Graph
              </a>
            </button>
          </div>

        </div>
      </form>
    </div>

    <div class="col-lg-9">
      <canvas id="graphCanvas" width="600" height="600"></canvas>
    </div>

  </div>


</div>
