<div id="wrapper">
  <navigation></navigation>
  <div id="page-wrapper" class="gray-bg">
    <topnavbar></topnavbar>

    <div  class="row wrapper border-bottom white-bg page-heading">
      <div class="row">

        <div *ngIf="displayDiv" class="col-lg-3"style="margin-bottom: 500px">
          <br>
          <form [formGroup]="chartForm">
            <div class="form-group">

              <div class="filterBlock">
                <label for="deepGraphSwitch">Data Set Modeling Switch</label>
                <div class="btn-group w-100" id="deepGraphSwitch" role="group" (click)="updateMultipleDataSetForm($event.target.value)">
                  <button [disabled]="buttonStateSingle()" type="button" value="single" class="btnGroupSwitch btn btn-success">Single</button>
                  <button [disabled]="buttonStateMultiple()" type="button" value="multiple" class="btnGroupSwitch btn btn-success">Double</button>
                </div>
              </div>

              <div class="filterBlock">
                <label for="graphType">Chart Type</label>
                <select class="form-control" formControlName="chartType" (change)="updateChart()" required>
                  <option *ngFor="let graph of graphService.getGraphTypes()" [value]="graph.val">
                    {{graph.view}}
                  </option>
                </select>
              </div>

              <div class="filterBlock">
                <label for="graphType">Select Survey</label>
                <select class="form-control" formControlName="surveyId" required>
                  <option *ngFor="let survey of surveys" [value]="survey.survey_id">
                    {{survey.survey_name}}
                  </option>
                </select>
              </div>

              <div class="filterBlock">
                <label for="graphType">Select Question</label>
                <select class="form-control" formControlName="questionId" (change)="updateChart()" required>
                  <option *ngFor="let question of surveys[chartForm.controls.surveyId.value - 1].questions | GraphableQuestion"
                    [value]="question.question_id">
                    {{question.question_text}}
                  </option>
                </select>
              </div>

              <div id="multipleDataSets" *ngIf="currentDatasetType != 'single'">
                <div class="filterBlock">
                  <label for="graphType">Select Sub Question</label>
                  <select class="form-control" formControlName="subQuestionId" required (change)="updateSubQuestionOptions()">
                    <option *ngFor="let question of surveys[chartForm.controls.surveyId.value - 1].questions | ExceptQuestionId: chartForm.controls.questionId.value | GraphableQuestion"
                      [value]="question.question_id">
                      {{question.question_text}}
                    </option>
                  </select>
                </div>
                <div class="optionsDiv">
                  <form [formGroup]="optionsForm" (change)="updateChart()">
                    <small class="optionsLabel text-muted">Sub Question Data Filter</small>
                    <ul class="optionsList" formArrayName="options" *ngFor="let option of getSubQuestionOptions(); let i = index">
                      <div class="col-lg-12">
                         <li>
                           <input type="checkbox" [formControlName]="i">
                           <span class="spanOption">{{option.option_text}}</span>
                        </li>
                      </div>
                     </ul>
                  </form>
                </div>
              </div>
              <div class="btnBlock">
               <hr>
                <button type="button" class="btn btn-primary btn-block btn-sm">
                  <a href="graphs" (click)="download($event)" style="color:white">
                    <i class="fas fa-download"></i>
                    Export Graph
                  </a>
                </button>
              </div>

            </div>
          </form>
        </div>

        <div class="col-lg-8">
          <canvas id="graphCanvas" width="670" height="670"></canvas>
        </div>

        <div class="col-lg-1">

        </div>

      </div>


    </div>
  </div>
</div>
