<form>
  <div class="form-group" *ngFor="let question of globals.questions">
    <label for="question_label">{{ question.question_id }} . {{ question.question_text }}</label>
    <div [ngSwitch]="question.question_type">

      <div *ngSwitchCase="'select'">
        <select class="form-control" id="questionType">
          <option *ngFor="let option of globals.options | filterByQuestionID: question.question_id ">
            {{ option.option_text }}
          </option>
        </select>
      </div>

      <div *ngSwitchCase="'checkbox'">
        <div *ngFor="let option of globals.options | filterByQuestionID: question.question_id" id="divCheckboxOptionText">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="option.option_text">
              {{ option.option_text }}
          </label>
        </div>
      </div>

      <div *ngSwitchCase="'text'">
        <label class="form-check-label"></label>
        <textarea class="form-control" id="textArea" rows="3"></textarea>
      </div>

      <div *ngSwitchCase="radio">
        <div *ngFor="let option of globals.options | filterByQuestionID: question.question_id">
          <label class="check-label">
            <input type"radio" class="form-check-input" name="optionsRadios" id="optionRadios{{option.option_num}}" value="option{{option.option_num}}">
          </label>
        </div>
      </div>

      <label class="form-control" id="unknownType" *ngSwitchDefault>Unknown Type</label>
    </div>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>