<div id="wrapper">
  <navigation [loginInfo]="loginInfo" *ngIf="loginInfo"></navigation>

  <div id="page-wrapper" class="gray-bg">

    <topnavbar></topnavbar>
    <p>{{version}}</p>
    <li *ngFor="let q of questions">
      {{ q }}
    <li>
        <li *ngFor="let o of options">
            {{ o }}
          <li>

    <router-outlet></router-outlet>

    <div class="footer">
      <div>
        <strong>Copyright</strong> Marist College Capping &copy; 2018
      </div>
    </div>
  </div>
</div>