<div class="container2" style="margin: 0 auto">
    <div class="row">
        <div class="col-md-7" id="bucket" >
            <div class="well well-sm">
                <!--<form class="form-horizontal" method="post" #end="ngForm" (ngSubmit)="onSubmit(end)" novalidate>-->
                <legend class="text-center header">Welcome to Dutchess CAP</legend>
                <p class="text-center header3">Please select the survey you would like to take:</p>
               
                <form class="form-horizontal" method="post" #start="ngForm" validate>
                    <!--(ngSubmit)="onStart()-->

                    <select class="form-control" id="select" (change)="surveySelect($event, $event.target.value)">
                        <option disabled selected>-Please Select an Option-</option>
                        <option name ="surveyValue" *ngFor="let surveyActive of globals.surveys" value="{{surveyActive.survey_id}}" ngModel>{{surveyActive.survey_name}}</option>
                    </select>
                    
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" id="btn" class="btn btn-primary btn-lg" (click)="onStart()">Start</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>