.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.header2 {
    color: #36A0FF;
    font-size: 15px;
    padding: 10px;
    margin-bottom:30px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.pagination{
    text-align:center;
}
#bucket{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: none;
  padding-top: 1%;
}
.container{
    height: 90%;
}
#btn{
    margin-top: 1%;
}