.divVisuals {
   margin-top: 30px;
}

.divSearchRow {
   margin-top: 10px;
}

.stylish-input-group .input-group-addon{
   background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
   border:0;
   background:transparent;
}

.divTableResponses {
   display: block;
   height: 480px;
   overflow-y: scroll;
}