#btnQuestionAdd {
    color: green;
 }
 
 a:hover { 
    background-color: yellow;
 }
 
 .btnBar{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
 }
 
 #surveySelect{
    width: 300px;
 }
 
 #ctr {
    margin-left: 13%;
 }