<div class="row border-bottom">
    <div id="topNavBar">
        <nav class="navbar navbar-static-top white-bg" role="navigation" id="navbar">
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a *ngIf="auth.hasAuthentication()"
                    (click)="auth.logout()" id="fontsize12">
                        <i class="fas fa-globe-americas"></i> Return To Survey / Logout
                    </a>
                </li>
                <li>
                    <a (click)="helpGuide()">
                        <i class="fas info-circle"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div id="helpGuide" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span (click)="closeModal()" class="close">&times;</span>
      <p>Saved Successfully!</p>
    </div>
</div>
