<div class="row border-bottom">
    <div id="topNavBar">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a *ngIf="auth.isAuthenticated()"
                    (click)="auth.logout()" style="font-size:12px">
                        <i class="fas fa-globe-americas"></i> Return To Survey / Logout
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
