<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Purpose</h2>
        <h4>Give CA$H Coalition admins ability to maually import paper forms</h4>
    </div>
    <div class="col-lg-10">
        <h2>Design Proposal</h2>
        <ol>
            <li><h4> Use number keys as hot keys to coordinate with answers for qustions. Incorporate auto jumping to next entry and submission.</h4></li>
            <li><h4> Use rapid clickable presentation.</h4></li>
            <li><h4> Consult with her?</h4></li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>