<div class="row wrapper border-bottom white-bg page-heading">
   <div class="row">
      <div class="col-lg-12">
         <div class="form-group">
            <label for="exampleFormControlSelect1">Select Question to Get Responses From</label>
            <select class="form-control" id="exampleFormControlSelect1">
            </select>
         </div>
      </div>
   </div>
   <div class="row divSearchRow">
      <div class="col-lg-6">
         <div class="input-group">
            <input   type="text" 
                     class="form-control"
                     [(ngModel)]="searchText" 
                     placeholder="Filter Data Feed">
            <div class="input-group-btn">
               <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
               </button>
            </div>
         </div>
      </div>
      <div class="col-lg-3">
         <button type="button" class="btn btn-primary">Export Current Data Feed</button>
      </div>
      <div class="col-lg-3">
         <button type="button" class="btn btn-info">Export Word Cloud</button>
      </div>
   </div>

   <div class="row divVisuals">
      <div class="col-lg-6 divTableResponses"> 

         <table id="tableResponses" class="table table-hover">
            <thead>
               <tr>
                  <th>Responses</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let r of responseData | filter : searchText">
                  <td>{{r}}</td>
               </tr>
            </tbody>
         </table>




         <!--

            ///////
          <tr>
               <div>The standard chunk of Lorem Ipsum used </div>
               <small class="text-muted">Yesterday 8:48 pm - 10.06.2014</small>
            </tr>

            ////

         <div class="ibox float-e-margins">
            <div class="ibox-title">
               <h4>Data Feed</h4>
            </div>
            <div class="ibox-content">
               <div class="feed-activity-list">

                  <div class="feed-element">
                     <div>
                        <div>All the Lorem Ipsum generators on the Internet tend to repeat </div>
                        <small class="text-muted">Yesterday 8:48 pm - 10.06.2014</small>
                     </div>
                  </div>
                  <div class="feed-element">
                     <div>
                        <div>The standard chunk of Lorem Ipsum used </div>
                        <small class="text-muted">Yesterday 8:48 pm - 10.06.2014</small>
                     </div>
                  </div>
                  <div class="feed-element">
                     <div>
                        <div>200 Latin words, combined with a handful</div>
                        <small class="text-muted">Yesterday 8:48 pm - 10.06.2014</small>
                     </div>
                  </div>
                  <div class="feed-element">
                     <div>
                        <div>200 Latin words, combined with a handful</div>
                        <small class="text-muted">Yesterday 8:48 pm - 10.06.2014</small>
                     </div>
                  </div>
                  <div class="feed-element">
                     <div>
                        <div>200 Latin words, combined with a handful</div>
                        <small class="text-muted">Yesterday 8:48 pm - 10.06.2014</small>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      -->
      </div>
      <div class="col-lg-6">
            <canvas id="wordcloudCanvas" width="480" height="480"></canvas>
      </div>
   </div>
</div>