<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-rectangle" width="165px"
                             src="./assets/img/dutchess-cap.png" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear">
                          <span class="block m-t-xs">
                          <strong class="font-bold">{{loginInfo.first_name}} {{loginInfo.last_name}}</strong>
                      </span>
                          <span class="text-muted text-xs block">{{loginInfo.title}}</span>
                      </span>
                    </a>
                </div>
                <div class="logo-element">
                    Hello
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('home')}">
                <a [routerLink]="['./home']"><i class="fa fa-dashboard"></i> <span class="nav-label">Data Visualization</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('input')}">
                <a [routerLink]="['./input']"><i class="far fa-database"></i> <span class="nav-label">Manual Input</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('edit')}">
                <a [routerLink]="['./edit']"><i class="far fa-database"></i> <span class="nav-label">Edit Survey</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('exportRaw')}">
                <a [routerLink]="['./exportRaw']"><i class="far fa-database"></i> <span class="nav-label">View Raw Data</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('graphs')}">
                <a [routerLink]="['./graphs']"><i class="far fa-database"></i> <span class="nav-label">Graphs</span></a>
            </li>
        </ul>

    </div>
</nav>