<body>

  <div class="row" style="margin-top:6%">

    <div class="col-lg-3">
    </div>

    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title ">
          <h2 class="center-text">Thank you for taking our survey!</h2>
        </div>
        <div class="ibox-content">
           <div class="row" id="divRowComment">
               <p class="center-text">If you would like to leave a comment or question, <a href="http://dutchesscaporg-proof.presencehost.net/contact.html"> click here!</a>
            </div>
            <div class="row" id="divRowBtn">
            <button class="btn btn-default btn-block" (click)="location.href = 'http://www.dutchesscap.org/'">
              <i class="fas fa-sign-in-alt"></i>
              Return to http://www.dutchesscap.org
            </button>
         </div>
        </div>
      </div>

    </div>

    <div class="col-lg-3">
    </div>

  </div>
</body>