<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <div class="row">
        <div class="col-md-9" id="bucket">
            <div class="well well-sm">
                <legend class="text-center header">Thank you for taking our survey!</legend>
                <p>If you would like to leave a comment or question, visit <a href="http://dutchesscaporg-proof.presencehost.net/contact.html">http://dutchesscaporg-proof.presencehost.net/contact.html</a>
                <p>Return to <a href="http://www.dutchesscap.org/">http://www.dutchesscap.org/</a></p>
            </div>
        </div>
    </div>
</div>
