<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Purpose</h2>
        <h4>Be able to export raw unformatted data to a csv/excel file </h4>
    </div>
    <div class="col-lg-10">
        <h2>Design Proposal</h2>
        <ul>
            <li><h4>Scrolling grid of all data, be able to check columns to export, export button</h4></li>
        </ul>
    </div>
    <div class="col-lg-2">
    </div>


    <div class="dropdown">
         <button  class="btn btn-primary btn-sm dropdown-toggle" 
                  type="button" 
                  id="dropdownMenuButton" 
                  data-toggle="dropdown"
                  aria-haspopup="true" 
                  aria-expanded="true">
            Dropdown button
         </button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
         </div>
      </div>
</div>